body {
  margin: 0;
}

.tox-notifications-container {
  display: none;
}

.tox-statusbar__branding {
  display: none;
}

.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  float: right;
}

.pagination > li {
  display: inline-block;
}

.pagination > li > a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination > li > a:hover:not(.active) {
  background-color: #e4b750;
  color: white;
  border-radius: 5px;
}

.pagination a {
  color: #38a6c1;
}

.pagination .active {
  /* background-color: #ddd; */
  background-color: #e4b750;
  border-radius: 5px;
}

.pagination .active a {
  color: #fff !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

i.right-icon {
  position: absolute;
  top: 68%;
  transform: translateY(-60%);
  right: 16px;
  cursor: pointer;
}
::placeholder {
  color: #333333;
  font-size: 16px;
}
button.btn.view-btn {
  position: absolute;
  right: 0px;
  top: 6px;
  background-color: transparent;
}
button.btn.view-btn i {
  font-size: 14px;
}

.react-datetime-picker__wrapper {
  border: none;
}

.react-time-picker__wrapper {
  border: none;
}

.react-datepicker-popper {
  z-index: 3;
}

.confirmation-height {
  height: 368px;
}

.about-product-details img {
  max-width: 100% !important;
}

/* ========================== */

.swal2-title {
  font-size: 18px !important;
}

.swal2-container {
  z-index: 9999 !important;
}

.swal2-styled.swal2-confirm {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: 10px 35px;
  text-transform: uppercase;
  border: 1px solid #f6b630;
  background: #e4b750;
  background: -moz-linear-gradient(top, #e4b750 0%, #ce9627 100%);
  background: -webkit-linear-gradient(top, #e4b750 0%, #ce9627 100%);
  background: linear-gradient(to bottom, #e4b750 0%, #ce9627 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4b750', endColorstr='#ce9627', GradientType=0);
  border-radius: 15px;
  transition: ease-in-out 0.3s;
  font-weight: 400;
}

.swal2-styled.swal2-cancel {
  color: #000;
  font-size: 16px;
  display: inline-block;
  padding: 10px 35px;
  text-transform: capitalize;
  border: 1px solid #000000;
  background-color: white;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
  font-weight: 400;
}

.swal2-icon.swal2-icon-show {
  border: none !important;
}

.tag-cstm {
  min-width: 120px;
  height: 45px;
  text-align: center;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 11px 15px;
}

button.btn-close {
  background: transparent;
  border: none;
  position: absolute;
  top: -1px;
  right: 0;
  width: 25px;
  height: 25px;
}
